version: '3.9'

services:
  app:
    build: ./app
    container_name: static-app
    ports:
      - "8087:80"

  reverse-proxy:
    image: nginx:stable-alpine
    container_name: nginx-proxy
    ports:
      - "8888:80"
    volumes:
      - ./reverse-proxy:/etc/nginx/conf.d
    depends_on:
      - app

